@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

/* */

html[data-theme='light'] {
  --background-image: url(media/patternloop.jpg);
  --background-color: rgb(235, 235, 235);
  --text-color: rgb(70, 70, 70);
  --box-border: rgba(255, 255, 255);
  --box-background: rgba(245, 245, 246, 0.75);
  --store-border: rgb(210, 210, 210);
  --store-brightness: brightness(1.055);
  --store-background: url(media/chrome-store.png);
  --theme-icon: url(media/light.svg);
  --logos: url(media/logos.png);
  --arrow: none;
}

html[data-theme='dark'] {
  --background-image: url(media/patternloopb.jpg);
  --background-color: rgb(40, 40, 40);
  --text-color: rgb(220, 220, 220);
  --box-border: rgba(65, 65, 65, 0.75);
  --box-background: rgba(52, 52, 52, 0.85);
  --store-border: rgb(60, 60, 60);
  --store-brightness: brightness(1.2);
  --store-background: url(media/chrome-storeb.png);
  --theme-icon: url(media/dark.svg);
  --logos: url(media/logosb.png);
  --arrow: brightness(6.9) grayscale(1);
}

html {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
  background-size: cover;
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  transition: background-image 0.5s;
}

.theme-toggle {
  width: 20px;
  height: 20px;
  margin: 10px 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid;
  border-color: var(--box-border);
  background-color: var(--box-background);
  background-image: var(--theme-icon);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 15px -5px rgb(0 0 0 / 0.5);
  /* transform: translate(0%, -200%); */
  animation: load-theme-toggle 2s;
  animation-fill-mode: forwards;
  transition: transform 2s,
    background-color 0.5s,
    border-color 0.5s,
    background-image 0.5s,
    filter 0.5s;
}


.theme-toggle:hover {
  filter: brightness(1.4);
}

.theme-toggle:not(:hover) {
  background-color: var(--box-background);
}

.theme-toggle:active {
  filter: brightness(0.95);
  transition: filter 0s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.3);
  border-radius: 5px;
  transition: all 0.5s;
}


body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: overlay;
}

h1, h2, h3 {
  margin: 15px 0 -5px 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

p, li {
  font-size: large;
  padding-left: 2px;
  line-height: 1.75;
}

li span {
  position: relative;
  left: -7px;
}

img {
  width: auto;
  height: auto;
}

.title svg {
  fill: var(--text-color);
  transition: fill 0.5s;
}

.title p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 57px;
  line-height: 3;
  margin: 0;
  margin-left: 26px;
}

.title b {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.title a {
  margin-left: 6px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 925px;
  margin: auto;
  display: flex;
  animation: load-title 2s;
  animation-fill-mode: forwards;
}

/* Animation */
/* .title {
  opacity: 0%;
  transform: scale(0.7);
  transition: transform 2s, opacity 2s;
} */

.box {
  margin: 1000px 1.5% 160px 1.5%;
  padding: 44px 75px 75px 75px;
  box-shadow: 0 45px 75px -25px rgb(0 0 0 / 40%);
  border-radius: 10px;
  width: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid;
  border-color: var(--box-border);
  background-color: var(--box-background);
  animation: load-box 2s;
  animation-fill-mode: forwards;
  transition: margin-top 2s, border-color 0.5s, background-color 0.5s;
}

.content {
  position: relative;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.support {
  display: block;
  image-rendering: -webkit-optimize-contrast;
  margin: 45px auto;
  background-image: var(--logos);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 60px;
  transition: background-image 0.5s;
}

.popup {
  display: flex;
  justify-content: center;
}

.popup img {
  width: 31%;
  margin: 0 10px;
  /* border: 1px solid white; */
  border-radius: 10px;
}

.video-example {
  overflow: hidden;
  margin: 3px auto;
  width: 868px;
  height: 362px;
  background-color: rgb(0, 0, 0);
  /* border: 1px solid white; */
  border-radius: 20px;
}

.video-example video {
  display: block;
  margin: auto;
  position: relative;
  width: auto;
  height: 100%;
  transition: all 300ms;
}

.video-example span {
  position: absolute;
  color: white;
  z-index: 1;
  font-size: 25px;
  margin: 5px 14px;
  text-shadow: 0px 0px 3px black,
    0px 0px 3px black,
    0px 0px 3px black;
}

.arrow {
  filter: var(--arrow);
  margin-bottom: 5px;
  width: 25px;
}

.store {
  margin: 10px 25px;
  border: 1px solid;
  border-color: var(--store-border);
  border-radius: 15px;
  width: 257px;
  height: 54px;
  background-image: var(--store-background);
  background-repeat: no-repeat;
  transition: background-image 0.5s, border-color 0.5s, filter 0.5s;
}

.store:hover {
  background-color: white;
  filter: var(--store-brightness);
}

.store:not(:hover) {
  filter: brightness(1);
}

.store a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
}

.manual img,
.player-button img {
  border-radius: 18px;
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.player-button img {
  margin-top: 0px;
  margin-bottom: 30px;
}

.button-group {
  position: absolute;
  margin-top: 307px;
  margin-left: 807px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.button-group svg {
  fill: white;
  opacity: 70%;
  transition: all 200ms;
  cursor: pointer;
  filter: drop-shadow(0px 0px 1px black);
}

.button-group svg:hover {
  opacity: 100%;
}

@media only screen and (max-height: 720px) {
  html {
    zoom: 0.85;
  }
}

@keyframes load-box {
  from {
    margin-top: 1000px;
  }

  to {
    margin-top: 0px;
  }
}

@keyframes load-title {
  from {
    opacity: 0%;
    transform: scale(0.7);
  }

  to {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes load-theme-toggle {
  from {
    transform: translate(0%, -200%);
  }

  to {
    transform: translate(0%, 0%);
  }
}